@import url("https://fonts.googleapis.com/css2?family=Benne&family=Cinzel:wght@400;500&display=swap");

html {
  background-image: linear-gradient(snow, white);
  font-family: "Benne", serif;
}

#title {
  font-family: "Cinzel", serif;
  font-size: 3em;
  margin-bottom: 0px;
}

#description {
  font-size: 1.05em;
}

#main {
  background-color: linen;
  background-image: linear-gradient(to left, linen, white, linen);
  text-align: center;
  margin: 0.2em;
  padding: 1em;
  font-size: 1.05em;
}

#image {
  display: block;
  width: 30%;
  min-width: 300px;
  max-width: 100%;
  padding-top: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) /* Mobile */ {
  #image {
    min-width: 225px;
    max-width: 100%;
    margin: 0 auto;
  }
}

#tribute-info {
  background-color: snow;
  border-radius: 50px;
  max-width: 550px;
  margin: 0 auto;
  padding: 1em 1em;
}

#img-caption {
  display: justified;
  margin-top: 1em;
  max-width: 550px;
  margin: 2em auto;
  color: slategrey;
}

.description {
  line-height: 1.3;
}

ul {
  display: justified;
  max-width: 32em;
  margin: 0 auto 20px auto;
  line-height: 1.5;
  padding-left: 0;
  list-style-image: upper-latin;
}

li {
  margin: 16px;
}

hr {
  border-style: dotted;
  display: inline-block;
  border-width: 7.77px;
  width: 10%;
  height: 0;
  border-top: 0;
}
